html, body {
 height: 100%;
}
.muka{ 
border: solid black;
background: linear-gradient(beige, white, beige);
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: center;
 flex-wrap: wrap;
 justify-content: center;
}

.midbot {
height: 30%; 
width: 40%;
display: flex;
flex-direction: column;
align-items: center;
}
.isi {
width: 100%;
 height: 100%;
 border: solid black;
 display: flex;
 align-items: center;
 flex-direction: row;
 flex-wrap: wrap;
}

.ft {
background-color: aliceBlue;
height: 40%;
flex: 1 1 500px
 
}